name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, windows-latest]
        # scenario: [a, a1, a2, a3, b, b1, b2, b3]
        scenario: [a, b]

    name: Node ${{ matrix.node-version }} on ${{ matrix.os }}, scenario ${{ matrix.scenario }}
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Log Node & NPM versions
        run: node --version && npm --version

      - name: Install scenario
        run: just scenario-${{ matrix.scenario }}

      - name: Build scenario
        run: npm run build
